body{
    padding:0;
    margin:0;
    height:100%;
    width:100%;
    background-color:  #000;
    font-family: 'sumiremedium';
}

#gameContainer {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
